@{
    ViewData["Title"] = "Project";
}
<h3>@ViewData["ProjectTitle"]</h3>
<div>
    <span>@ViewData["itemName"]</span>
    <span>@ViewData["itemPrice"]</span>
    <span>@ViewData["itemDescription"]</span>
</div>